* {
  margin: 0;
  padding: 0;
}

div.login-outer {
  margin: 20vh 25vw 20vh 25vw;
  padding: 5vh 8vw;
}

div.login-title {
  display: flex;
  justify-content: center;
}

div.addtask-outer {
  margin: 10vh 25vw 10vh 25vw;
  padding: 5vh 8vw;
}

div.addtask-title {
  display: flex;
  justify-content: center;
}

div.taskpage-outer {
  margin: 2vh 2vw 2vh 2vw;
  padding: 5vh 8vw;
}

div.card-outer {
  margin: 25vh 25vw 25vh 25vw;
}

div.card-body {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
}

div.modal-delete-header {
  display: flex;
  flex-direction: column;
}

div.taskpage-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

